@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
	/* Fonts */
	--fontPrimary: "Alata", Arial, Helvetica, sans-serif;
	--fontSecondary: "Josefin Sans", "Menlo", Helvetica, sans-serif;

	/* Colors */
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--darkGray: hsl(0, 0%, 55%);
	--veryDarkGray: hsl(0, 0%, 41%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 100%;
	box-sizing: border-box;
}
