/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

/** Curstom Properties **/
:root {
	/* Fonts */
	--Font-Primary: "Alata", Arial, Helvetica, sans-serif;
	--Font-Secondary: "Josefin Sans", Arial, Helvetica, sans-serif;
	--Fs-Default: 1em;

	/* Colors */
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(0, 0%, 55%);
	--clr-neutral-300: hsl(0, 0%, 41%);
	--clr-neutral-400: hsl(0, 0%, 0%);
}

/** Reset **/
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-size: 100%;
	box-sizing: border-box;
}

h1,
h2,
h3,
span,
p {
	margin: 0;
}

a:link {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

button {
	margin: 0;
	font: inherit;
	line-height: 1;
}

ul[class],
ol[class] {
	padding: 0;
	list-style: none;
}

img,
picture {
	display: block;
	max-width: 100%;
}

/** Utilities **/
.container {
	max-width: 75em;
	width: 90%;
	margin: 0 auto;
}

.desktop {
	display: none;
}

/** General Styling **/
body {
	font-size: var(--Fs-Default);
	font-family: var(--Font-Primary);
	font-weight: 300;
	line-height: 1.5;
	color: var(--clr-neutral-400);
	margin: 0;
}

h1,
h2,
h3 {
	font-family: var(--Font-Secondary);
	font-weight: 400;
	line-height: 1.1;
	text-transform: uppercase;
}

header {
	background-color: var(--clr-neutral-400);
	background-image: url("../images/mobile/image-hero.jpg");
	background-size: cover;
	background-position: center;
	color: var(--clr-neutral-100);
}

footer {
	background-color: var(--clr-neutral-400);
	color: var(--clr-neutral-100);
}

.hero h1 {
	display: inline-block;
	font-size: clamp(1.8rem, 12vw, 6rem);
	border: 1px solid var(--clr-neutral-100);
	padding: 5%;
	width: min-content;
}

.hero span {
	display: block;
}

/** General Layout **/
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em 0;
}

.navbar__logo {
	max-width: 90%;
}

.hero__content {
	padding: 6em 0 10em;
}

section {
	padding: 15% 0; /* vertical padding and margin set in % depends on parents width [15% of parents width] */
}
